#home {
    text-align: center;
}

.form-row {
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 0.9;
}

.text-md {
    font-size: 3rem;
}

a {
    color: #81a3cf;
}
.container {
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 150px;
    padding-left: 80px;
    text-align: center;
}

.navbar {
    font-size: 25px;
    font-family: Itim;
    background-color: #81a3cf;
}

p{
    font-family: Quicksand, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 150px;
    gap: 40px
}
.grid-item-author-1 { 
    grid-area: 1 / 1 / 3 / 2;
    place-self: center;
}
.grid-item-author-2 { 
    grid-area: 1 / 2 / 2 / 4;
    place-self: stretch;
}
.grid-item-author-3 { 
    grid-area: 2 / 2 / 3 / 3;
    place-self: center;
}
.grid-item-author-4 {
    grid-area: 2 / 3 / 3 / 4;
    place-self: center;
}
.grid-item-speaker-1{
    grid-area: 1 / 2 / 3 / 3;
    place-self: center;
}
.grid-item-speaker-2{
    grid-area: 1 / 1 / 3 / 2;
    place-self: center;
}
.btn-block {
    background-color: #81a3cf;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    padding: 150px;
}
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
